.side-bar
  .side-bar__user-name
    .side-bar__user-name__items
      .side-bar__user-name__items__items-name
        %h1 masa
      .side-bar__user-name__items__items-icons
        .side-bar__user-name__items__items-icons__left-icons
          = icon('far', 'edit')
        .side-bar__user-name__items__items-icons__right-icons
          = icon('fas', 'cog')

  .side-bar__group-list
    .side-bar__group-list__group
      .side-bar__group-list__group__group-name
        %h1 techcamp
      .side-bar__group-list__group__group-message
        %h1 まだメッセージがありません
   
    
    


  